{% extends 'layout.html'%}

{% block body %}
<div class="content" style="text-align: justify;">
    <h2 class="subtitle" style="margin: 10px; text-align: center;"><strong>Mattos.Proxie</strong></h1>
    <blockquote>&nbsp; &nbsp; &nbsp; &nbsp;Foi desenvolvido com objetivo de prover lista de proxies grátis para utilização.
    A lista de proxie fornecida é baseada na lista free disponibilizada pela <a href="https://sslproxies.org/">SLL Proxie List,</a>
    e basicamente o que fazemos é disponibizar um formato JSON mais amigavel para se trabalhar com suas aplicações, para isso utilizamos 
    <a href="https://www.python.org/">Python</a>, <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> e <a href="https://pypi.org/project/beautifulsoup4/">Beautifulsoup4.</a>
    &nbsp; &nbsp; &nbsp; &nbsp;O código fonte pode ser obtido no <a href="https://github.com/MichaelDeMattos/mattos.proxie">GitHub</a> do desenvolvedor <a href="https://www.linkedin.com/in/michael-de-mattos-ortiz-57690a17a/">Michael de Mattos</a>
    O software hoje é fornecido sobre a licença <a href="https://pt.wikipedia.org/wiki/GNU_Lesser_General_Public_License">GNU Lesser General Public License</a> 100% Livre de <a href="https://pt.wikipedia.org/wiki/Royalty">Royalty</a>. 
  </blockquote>
</div>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
          Documentação da API 
        </h1>
      </div>
  </div> 
    
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth is-medium">
          <div class="container">
            <ul>
              <li class="tab is-active" onclick="openTab(event,'request')"><a >Request</a></li>
              <li class="tab" onclick="openTab(event,'response')"><a >Response</a></li>
            </ul>
          </div>
    </nav>
  </div>
</section>

<div class="container section">
  <div id="request" class="content-tab" >
    <div class="columns is-mobile">
      <div class="column is-6" style="margin: 5px;">
        <span>Type</span>
        <p style="margin: 5px;">GET</p><br>
        <span>Parametros</span>
        <p>ALL, BD, BR, CA, CO, DE, FR, GB, HK, ID, IN, IR, IT, JP, KR, MD, MW, MX, PH, PK, RU, SG, TH, TR, UA, US, VN, ZA</p>
      </div>
      <div class="column is-6" style="margin: 5px;">
        <span>URL</span>
        <p style="margin: 5px;"><code class="code">http://localhost:5000/id_country</code></p><br>
        <span>Exemplo</span>
        <p style="margin: 5px;"><code class="code">http://localhost:5000/fr</code></p><br>
      </div>
    </div>
  </div>
  <div id="response" class="content-tab" style="display: none;">
    <div class="columns is-mobile">
      <div class="column is-12">
        <span>Status code: 200</span>
<pre>
<code class="code">
[{
  "anonymity": "elite proxy", 
  "country": "France", 
  "google": "no", 
  "hostname": "165.225.77.47", 
  "https": "yes", 
  "id_country": "FR", 
  "last_checked": "1 minute ago", 
  "port": "9443"
},
]
</code>
</pre>
        <span>Status code: 404</span>
<pre>
<code class="code">
{ "return": "Servers not found"}
</code>
</pre>
      </div>
    </div>
  </div>
</div>


{% endblock %}